{% extends "network/layout.html" %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block static %}<link href="{% static 'network/index.css' %}" rel="stylesheet">{% endblock%}

{% block body %}

<div id="create-post"></div>
<div id="post-list"></div>

{% if user.is_authenticated %}
<script type="text/babel">
    function CreatePost() {
        const [showComponent, setShowComponent] = React.useState(false);
        const divRef = React.useRef(null);
        const extendPostRef = React.useRef(null);

        function handleClick () {
            setShowComponent(true);
        }

        React.useEffect(() => {
            function handleClickOutside(event) {
                if (divRef.current && !divRef.current.contains(event.target) && extendPostRef.current && !extendPostRef.current.contains(event.target)) {
                    setShowComponent(false);
                }
            }

            document.addEventListener('mousedown', handleClickOutside);

            return () => {
                document.removeEventListener('mousedown', handleClickOutside);
            };
            
        }, [divRef, showComponent]);

        const ExtendPost = React.forwardRef((props, ref) => {
            return (
                <>
                    <textarea
                    name="post" 
                    className="form-control m-2" 
                    placeholder="Elaborate..." 
                    {...props} 
                    ref={ref}
                    required
                    />
                    <input 
                    className="btn btn-warning btn-sm m-2" 
                    type="submit"
                    />
                </>
            );
        });

        return (
            <>
                <div ref={divRef}>
                    <h4 className="m-2">Create New Post</h4>
                    <form method="post">
                        <input 
                        id="title"
                        name="title" 
                        className="form-control m-2" 
                        type="text" 
                        placeholder="What's on your mind?"
                        onClick = {handleClick}
                        required
                        />
                        {showComponent && <ExtendPost ref={extendPostRef}/>}
                    </form>
                </div>
                <hr />
            </>
        );
    }
    
    const postData = {{ posts_json|safe }}; 


    const postContainer = document.getElementById('create-post');
    const postRoot = ReactDOM.createRoot(postContainer);

    postRoot.render(<CreatePost />);

</script>   
{% endif %}

{% include 'network/posts.html' %}
<script type="text/babel">
    const allPostContainer = document.getElementById('post-list');
    const allPostRoot = ReactDOM.createRoot(allPostContainer);
    
    allPostRoot.render(postData.map((posts) => 
    <Posts 
    key={posts.id}
    userId ={posts.user_id}
    user={posts.user}
    title={posts.title} 
    post={posts.post}
    likes={posts.likes}
    date={posts.date}
    />));
</script>


{% endblock %}