{% extends "network/layout.html" %}

{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
{% include "network/alert.html" %}

<script src="{% static 'network/post.js' %}"></script>
<div id="create-post"></div>
<hr>
<div id="all-posts">
    {% include "network/post.html" %}
    {% include "network/pagination.html" %}
</div>

{% if user.is_authenticated %}
<script type="text/babel">
    function CreatePost() {
        const [showComponent, setShowComponent] = React.useState(false);
        const divRef = React.useRef(null);
        const extendPostRef = React.useRef(null);

        function handleClick () {
            setShowComponent(true);
        }

        React.useEffect(() => {
            function handleClickOutside(event) {
                if (divRef.current && !divRef.current.contains(event.target) && extendPostRef.current && !extendPostRef.current.contains(event.target)) {
                    setShowComponent(false);
                }
            }

            document.addEventListener('mousedown', handleClickOutside);

            return () => {
                document.removeEventListener('mousedown', handleClickOutside);
            };
            
        }, [divRef, showComponent]);

        const ExtendPost = React.forwardRef((props, ref) => {
            return (
                <>
                    <textarea
                    name="post" 
                    className="form-control m-2" 
                    placeholder="Elaborate..." 
                    {...props} 
                    ref={ref}
                    required
                    />
                    <input 
                    className="btn btn-warning btn-sm m-2" 
                    type="submit"
                    />
                </>
            );
        });

        return (
            <>
                <div ref={divRef}>
                    <h4 className="m-2">Create New Post</h4>
                    <form method="post">
                        <input 
                        id="title"
                        name="title" 
                        className="form-control m-2" 
                        type="text" 
                        placeholder="What's on your mind?"
                        onClick = {handleClick}
                        required
                        />
                        {showComponent && <ExtendPost ref={extendPostRef}/>}
                    </form>
                </div>
            </>
        );
    }

    const createPostContainer = document.getElementById('create-post');
    const createPostRoot = ReactDOM.createRoot(createPostContainer);

    createPostRoot.render(<CreatePost />);
</script>   
{% endif %}


{% endblock %}