.form-control {
    width: 75%;
}

.form-control:hover {
    border: 1px solid #454545;
}

.left-text {
    text-align: left;
}

.center-text {
    text-align: center;
}

.post-container {
    position: relative;
    min-height: 200px;
    width: 500px;
    border: 1px solid #dadce0;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-container > h3 {
    margin: 0;
}

.post-container hr {
    width: 100%;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container > .body-container {
    box-sizing: content-box;
    margin: auto;
    border-left: 1px solid #dadce0;
    border-right: 1px solid #dadce0;
    min-height: 200px;
    width: 90%;
}

.content-container > .body-container > p {
    padding: 5px;
}

.content-container > .bottom {
    color: #BDC1C6;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 10px;
}

.bottom > span > a {
    text-decoration: none;
}

#profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-container > button {
    margin-left: 10px;
    height: 50%;
}

#follow-container {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}

.follow-info {
    display: flex;
    flex-direction: column;
}
